USE [master]
GO
/****** Object:  Database [BD-EXPLORARG]    Script Date: 22/05/2021 19:33:28 ******/
CREATE DATABASE [BD-EXPLORARG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD-EXPLORARG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BD-EXPLORARG.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD-EXPLORARG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BD-EXPLORARG_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD-EXPLORARG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD-EXPLORARG]
GO
/****** Object:  Table [dbo].[ACTIVIDADES]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTIVIDADES](
	[ID_Actividad] [varchar](50) NOT NULL,
	[id_TipoActividad] [varchar](50) NULL,
	[Nombre_Actividad] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
	[id_Localidad] [varchar](50) NULL,
	[id_Imagen] [varchar](50) NULL,
 CONSTRAINT [PK_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_Actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHAT]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHAT](
	[ID_Chat] [varchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
	[Mensaje] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUENTA](
	[ID_Cuenta] [varchar](50) NOT NULL,
	[Nombre_Cuenta] [varchar](50) NULL,
	[Tipo_Cuenta] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[id_usuario] [varchar](50) NULL,
 CONSTRAINT [PK_CUENTA] PRIMARY KEY CLUSTERED 
(
	[ID_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[ID_Departamento] [varchar](50) NOT NULL,
	[Nombre_Departamento] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
	[Clima] [varchar](50) NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORO]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORO](
	[ID_Foro] [varchar](50) NOT NULL,
	[Tema] [varchar](50) NULL,
	[Comentario] [varchar](50) NULL,
	[Nombre_Usuario] [varchar](50) NULL,
	[Fecha_Publicacion] [time](7) NULL,
	[Puntuacion] [varchar](50) NULL,
	[id_Usuario] [varchar](50) NULL,
 CONSTRAINT [PK_FORO] PRIMARY KEY CLUSTERED 
(
	[ID_Foro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GALERIA.IMAGENES]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GALERIA.IMAGENES](
	[ID_imagen] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[id_Localidad] [varchar](50) NULL,
 CONSTRAINT [PK_GALERIA.IMAGENES] PRIMARY KEY CLUSTERED 
(
	[ID_imagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HISTORIAl.CLIMA]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HISTORIAl.CLIMA](
	[ID_Clima] [varchar](50) NOT NULL,
	[Registro_Fecha] [date] NULL,
	[id_Localidad] [varchar](50) NULL,
	[id_Usuario] [varchar](50) NULL,
 CONSTRAINT [PK_HISTORIAl.CLIMA] PRIMARY KEY CLUSTERED 
(
	[ID_Clima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITINERARIO]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITINERARIO](
	[ID_Itinerario] [varchar](50) NOT NULL,
	[id_Actividad] [varchar](50) NULL,
 CONSTRAINT [PK_ITINERARIO] PRIMARY KEY CLUSTERED 
(
	[ID_Itinerario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCALIDADES](
	[ID_Localidad] [varchar](50) NOT NULL,
	[Nombre_Localidad] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
	[id_Clima] [varchar](50) NULL,
	[id_departamento] [varchar](50) NULL,
 CONSTRAINT [PK_LOCALIDADES] PRIMARY KEY CLUSTERED 
(
	[ID_Localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERFIL](
	[ID_Perfil] [varchar](50) NOT NULL,
	[Foto] [varbinary](max) NULL,
	[id_cuenta] [varchar](50) NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO.ACTIVIDAD]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO.ACTIVIDAD](
	[ID_TipoActividad] [varchar](50) NOT NULL,
	[Descripcion_T.actividad] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO.CUENTA]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO.CUENTA](
	[ID_TipoCuenta] [varchar](50) NOT NULL,
	[Administrador] [varchar](50) NULL,
	[UsuarioRegistrado] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 22/05/2021 19:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_Usuario] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Fecha_Nacimiento] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DNI] [varchar](50) NULL,
	[Domicilio] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ACTIVIDADES]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVIDADES_GALERIA.IMAGENES] FOREIGN KEY([id_Imagen])
REFERENCES [dbo].[GALERIA.IMAGENES] ([ID_imagen])
GO
ALTER TABLE [dbo].[ACTIVIDADES] CHECK CONSTRAINT [FK_ACTIVIDADES_GALERIA.IMAGENES]
GO
ALTER TABLE [dbo].[ACTIVIDADES]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVIDADES_LOCALIDADES] FOREIGN KEY([id_TipoActividad])
REFERENCES [dbo].[LOCALIDADES] ([ID_Localidad])
GO
ALTER TABLE [dbo].[ACTIVIDADES] CHECK CONSTRAINT [FK_ACTIVIDADES_LOCALIDADES]
GO
ALTER TABLE [dbo].[CHAT]  WITH CHECK ADD  CONSTRAINT [FK_CHAT_USUARIO] FOREIGN KEY([ID_Chat])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[CHAT] CHECK CONSTRAINT [FK_CHAT_USUARIO]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_FORO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[FORO] ([ID_Foro])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_CUENTA_FORO]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_HISTORIAl.CLIMA] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[HISTORIAl.CLIMA] ([ID_Clima])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_CUENTA_HISTORIAl.CLIMA]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_PERFIL] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[PERFIL] ([ID_Perfil])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_CUENTA_PERFIL]
GO
ALTER TABLE [dbo].[ITINERARIO]  WITH CHECK ADD  CONSTRAINT [FK_ITINERARIO_USUARIO] FOREIGN KEY([id_Actividad])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[ITINERARIO] CHECK CONSTRAINT [FK_ITINERARIO_USUARIO]
GO
ALTER TABLE [dbo].[LOCALIDADES]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIDADES_DEPARTAMENTOS] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[DEPARTAMENTOS] ([ID_Departamento])
GO
ALTER TABLE [dbo].[LOCALIDADES] CHECK CONSTRAINT [FK_LOCALIDADES_DEPARTAMENTOS]
GO
ALTER TABLE [dbo].[LOCALIDADES]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIDADES_HISTORIAl.CLIMA] FOREIGN KEY([id_Clima])
REFERENCES [dbo].[HISTORIAl.CLIMA] ([ID_Clima])
GO
ALTER TABLE [dbo].[LOCALIDADES] CHECK CONSTRAINT [FK_LOCALIDADES_HISTORIAl.CLIMA]
GO
ALTER TABLE [dbo].[TIPO.ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TIPO.ACTIVIDAD_ACTIVIDADES] FOREIGN KEY([ID_TipoActividad])
REFERENCES [dbo].[ACTIVIDADES] ([ID_Actividad])
GO
ALTER TABLE [dbo].[TIPO.ACTIVIDAD] CHECK CONSTRAINT [FK_TIPO.ACTIVIDAD_ACTIVIDADES]
GO
ALTER TABLE [dbo].[TIPO.ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TIPO.ACTIVIDAD_ITINERARIO] FOREIGN KEY([ID_TipoActividad])
REFERENCES [dbo].[ITINERARIO] ([ID_Itinerario])
GO
ALTER TABLE [dbo].[TIPO.ACTIVIDAD] CHECK CONSTRAINT [FK_TIPO.ACTIVIDAD_ITINERARIO]
GO
ALTER TABLE [dbo].[TIPO.CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_TIPO.CUENTA_CUENTA] FOREIGN KEY([ID_TipoCuenta])
REFERENCES [dbo].[CUENTA] ([ID_Cuenta])
GO
ALTER TABLE [dbo].[TIPO.CUENTA] CHECK CONSTRAINT [FK_TIPO.CUENTA_CUENTA]
GO
ALTER TABLE [dbo].[TIPO.CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_TIPO.CUENTA_USUARIO] FOREIGN KEY([ID_TipoCuenta])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[TIPO.CUENTA] CHECK CONSTRAINT [FK_TIPO.CUENTA_USUARIO]
GO
USE [master]
GO
